@model Student

<h1 class="text-center" >Create a New Category</h1>

<div class="row justify-content-center" >
    <div asp-validation-summary="All" ></div>
    <form class="col-6 mt-5" method="post" >
        <div class="mb-3">
            <label asp-for='name' for="exampleInputEmail1" class="form-label"></label>
            <input asp-for='name' type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <span asp-validation-for="name" class="text-danger" ></span>
        </div>
        <div class="mb-3">
            <label asp-for='clas' for="exampleInputPassword1" class="form-label"></label>
            <input asp-for='clas' type="text" class="form-control" id="exampleInputPassword1">
            <span asp-validation-for="clas" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for='age' for="exampleInputPassword1" class="form-label"></label>
            <input asp-for='age' type="number" class="form-control" id="exampleInputPassword1">
            <span asp-validation-for="age" class="text-danger"></span>
        </div>
        <div class="row justify-content-center">
            <input type="submit" class="btn btn-dark col-6" />
        </div>
    </form>
</div>

@section Scripts {
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}
